@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
        @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            background-color: #c3ccdb;
            color: #f7f0f8;
            scroll-behavior: smooth;
        }

        p {
            line-height: 1;
            margin: 1;
        }

        h1 {
            margin: 0px;
            margin-bottom: 0px;
        }
        .background { 
            position: absolute; 
            height: 100%; 
            width: 100%; 
            scale: 50%;
            background-image: url("background3.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            filter: blur(4px); 
            -webkit-filter: blur(4px);
            z-index: -1; 
        } 
        .LOGObackground { 
            position: absolute; 
            height: 100%; 
            width: 100%; 
            scale: 200%;
            background-position: center;
            background-image: url("background3.png");
            background-repeat: no-repeat;
            background-size: contain;
            filter: blur(2px); 
            -webkit-filter: blur(3px);
            z-index: -1; 
        }

        .BUBBLEbackground { 
            position: absolute; 
            height: 100%; 
            width: 100%; 
            scale: 225%;
            background-position: center;
            background-image: url("background3.png");
            background-repeat: no-repeat;
            background-size: contain;
            filter: blur(2px); 
            -webkit-filter: blur(3px);
            z-index: -1; 
        }

        .CONTACTbackground { 
            position: absolute; 
            height: 100%; 
            width: 100%;
            scale: 200%; 
            background-position: center;
            background-image: url("background.svg");
            background-repeat: no-repeat;
            background-size: cover;
            filter: blur(0px); 
            -webkit-filter: blur(0px);
            z-index: -1; 
        }
        
        header {
            background-color: #c4a0ff9a;
            background-position: 40%;
            padding: 10px 10px;
            right: 30px;
            position: fixed;
            width: 240px;
            border-radius: 60px;
            z-index: 1000;
            transition: background-color 0.3s, padding 0.3s;

        }
        header.small {
            padding: 5px 20px;
        }
        h2 {
            font-size: xx-large;
        }
        .logo {
            font-size: 2em;
            margin: 0;
        }
        nav {
            display: flex;
            justify-content: flex-end;
            gap: 60px;
            margin-top: 0px;
            position: relative;
            padding-right: 4%;
            align-content: center;
        }
        nav a {
            color: #eaeaea;
            text-decoration: none;
            font-weight: bold;
            font-size: 2em;
        }
        nav a::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: #8a8a8a;
            transition: width 0.3s;
        }
        nav a:hover::after {
            width: 100%;
            text-emphasis-color:aqua;
        }
        section {
            padding-top: 100px;
            padding-bottom: 0px;
            text-align: center;
            position: relative;
        }
        
        header.scrolled {
            background-color: rgba(242, 242, 242, 0.8);
        }
        .scrolled + section {
            padding-top: 70px;
        }
        .scrolled + section::before {
            background: radial-gradient(circle at top right, rgba(54, 73, 93, 0.15), rgba(15, 52, 96, 0.8));
        }
        .scrolled .logo {
            font-size: 1.2em;
        }
        .scrolled nav a {
            font-size: 1.5em;
        }
        .scrolled .button-container {
            margin-top: 10px;
        }
        .headshot-container {
            position: relative;
            display: inline-block;
            margin-bottom: 70px;
        }
        .headshot {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            border: 5px solid #c5a0ff;
            opacity: 100;
            transition: filter 0.3s;
            transition: opacity 0.3s;
            z-index: 1;
            position: relative;
        }
        .blur-effect {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.318);
            filter: blur(10px);
            border-radius: 50%;
            pointer-events: none;
            transition: filter 0.3s;
        }
        .project {
            background-color: #9b71df34;
            background-image: url("background.svg");
            background-size:100%;
            margin: 20px auto;
            padding: 20px;
            border-radius: 20px;
            max-width: 800px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        footer {
            background-color: #c4a0ff5e;
            padding: 30px;
            text-align: center;
            color: #eaeaea;
            margin-top: 20px;
        }
        .button-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            margin-top: 20px;
            margin-bottom: 15%;
        }
        a.button {
            display: inline-block;
            padding: 15px;
            margin: 10px;
            background-color: #c4a0ff94;
            color: white;
            text-decoration: none;
            border-radius: 50%;
            transition: background-color 0.3s, transform 0.3s;
            border: 2px inset #8a8a8a;
            font-size: 2em;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        a.button:hover {
            background-color: #52436c;
            transform: scale(1.05);
        }
        a.button i {
            margin: 0;
        }
        .social-tooltip {
            position: absolute;
            display: none;
            background-color: #333;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 0.8em;
            z-index: 1000;
        }
        a.button:hover .social-tooltip {
            display: block;
        }
        .nameLogoLeft {
            position: absolute; 
            left: -240px; 
            font-weight: 600; 
            font-size: 40pt;
            margin-top: 0px;
            border-radius: 10px;

        }
        .nameLogoRight {
            border-radius: 10px;
            position: absolute; 
            right: -180px; 
            font-weight: 600; 
            font-size: 40pt;
            margin-top: 200px;

        }

        .circle {
            width: 200px;
            position: relative;
            height: 200px;
            line-height: 1;
            text-align: center;
            border-radius: 50%;
            font-size: 1em;
            color: #ffffff;
            background: #d2c3fc00;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
        }

        .circle-container {
            display: flex;
            justify-content: center;
            gap: 90px;
            margin-top: 0px;
        }

        @keyframes fadeOutAnimation {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
